/* ==================== GOOGLE FONTS ===================== */
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

/* ==================== CSS VARIABLES ===================== */
:root {
    --main-color: #10b981;
    --second-color-dark: #d5d4d8;
    --second-color-light: #6b7280;
    --title-color-dark: #fff;
    --title-color-light: #2b283a;
    --bg-container-dark: #1f2937;
    --bg-container-light: #ecfdf5;
    --bg-pass-btn: #273549;
    --divide-color-light: #d5d4d8;
    --divide-color-dark: #4a5768;
}

/* ==================== CSS RESET ===================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    display: grid;
    place-items: center;
    place-content: center;
    height: 100vh;
    background-color: #1c1c1c;
}

input {
    outline: none;
}

/* ==================== REUSABLE PROPERTY ===================== */
button,
i,
#color {
    cursor: pointer;
}

.container,
h1,
.desc,
.result,
#color {
    transition-property: color, border-color, box-shadow;
    transition-duration: 0.3s;
}

.container {
    background-color: var(--bg-container-light);
    padding-inline: 2rem;
    padding-block: 5rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
    position: relative;
    max-width: 500px;
}

h1 {
    font-weight: 900;
    line-height: 1;
    color: var(--title-color-light);
}

h1 span {
    color: var(--main-color);
}

header {
    position: absolute;
    right: 2.5rem;
    top: 2.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#btn-theme {
    cursor: pointer;
    transition: transform 0.3s;
    color: var(--title-color-light);
}

#btn-theme:hover {
    transform: rotate(45deg);
}

#color {
    width: 20px;
    height: 20px;
    background-color: var(--main-color);
    border-radius: 50%;
    color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.5);
}

#input-color {
    visibility: hidden;
    user-select: none;
}

.desc {
    color: var(--second-color-light);
    padding-block: 0.35rem 2rem;
}

.act {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1.5rem;
}

.act > div {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.act input[type="number"] {
    max-width: 40px;
    border: 1px solid var(--main-color);
    border-radius: 0.25rem;
    padding-block: 0.5rem;
    padding-left: 0.25rem;
}

.act input[type="checkbox"] {
    accent-color: var(--main-color);
}

.checkboxes {
    display: flex;
    align-items: center;
    gap: 0.15rem;
    color: var(--second-color-light);
}

#btn-generate {
    background-color: var(--main-color);
    border: none;
    border-radius: 0.35rem;
    padding: 0.5rem;
    color: #fff;
    font-weight: bold;
    display: flex;
    gap: 0.5rem;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.result {
    border-top: 1px solid var(--divide-color-light);
}

.password {
    background-color: var(--bg-pass-btn);
    color: #fff;
    padding: 0.5rem 1.5rem;
    margin-top: 1.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

/* ==================== DARK THEME ===================== */

.dark .container {
    background-color: var(--bg-container-dark);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.dark h1 {
    color: var(--title-color-dark);
}

.dark .desc {
    color: var(--second-color-dark);
}

.dark .checkboxes {
    color: var(--second-color-dark);
}

.dark .result {
    border-color: var(--divide-color-dark);
}

.dark #btn-theme {
    color: var(--title-color-dark);
}

.dark #color {
    border-color: rgba(255, 255, 255, 0.5);
}

/* ==================== RESPONSIVE ===================== */
@media screen and (max-width: 768px) {
    .act {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 325px) {
    .container {
        height: 100vh;
        width: 100vw;
        padding-top: 35vh;
        border-radius: 0;
        padding-inline: 1rem;
    }

    header {
        top: 30vh;
    }

    h1 {
        font-size: 1.85rem;
    }

    p {
        font-size: 0.95rem;
    }
}
